@import url(../blocks/footer/__column-link/footer__column-link.css);
  
  .footer__column-link {
    text-decoration: none;
    color: #f2f2f2;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }