@import url(../blocks/khan/__quote-author/khan__quote-author.css);

.khan__quote-author {
    margin: 36px 0 10px 0;
    padding: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: 600;
}