@import url(../blocks/content/cards/cards.css);

.cards {
    max-width: 920px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    text-align: center;
}