@import url(../blocks/content/two-columns/__brief/two-columns__brief.css);

.two-columns__brief {
    color: #2f80ed;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    width: 175px;
    line-height: 1.2;
  }